[submodule "rsjupyter"]
	path = rsjupyter
	url = https://github.com/radiasoft/rsjupyter.git
[submodule "comsoljupyter"]
	path = comsoljupyter
	url = https://github.com/radiasoft/comsoljupyter.git
[submodule "pykern"]
	path = pykern
	url = https://github.com/elventear/pykern.git
